# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environment
env/
venv/
ENV/
.venv/

# Django stuff
*.log
*.pot
*.pyc
media/
staticfiles/

# VS Code / PyCharm
.vscode/
.idea/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Coverage / Testing
.coverage
htmlcov/
.tox/
.pytest_cache/